.myblue {
    background-color: #102372 !important;
    color: white !important;
}

.blue-grey {
    background-color: #607d8b !important;
}

.up {
    text-transform: uppercase !important;
}